* {
    margin: 0;  
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(to right, rgba(25, 0, 255, 0), rgb(255, 114, 114))
}

h1 {
    font-style: italic;
    margin: 20px;
}

h3 {
    font-size: 22px;
}

span {
    font-size: 16px;
    font-weight: bolder;
    font-style: normal;
    /* padding-bottom: 5px; */
}

p {
    padding-top: 5px;
}

li {
    font-weight: bold;
}

button {
    height: 30px;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.filter-dropdown {
    height: 30px;
    padding: 5px;
    /* width: 120px; */
    border-radius: 25px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.search-bar {
    height: 30px;
    width: 200px;
    border-radius: 25px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.favorites {
    display: none;
  }


.header-container {
    display: flex;
    gap: 10px; 
    justify-content: center;
    align-items: center;
}

.header-img {
    height: 150px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.poke-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 25px;
    align-items: center;
    box-shadow: 2px 2px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.text-container {
    width: 200px;
    padding: 5px;
    font-style: italic;
}

.poke-img {
    width: 150px;
    /* border: 1px black solid;
    border-radius: 25px;
    box-shadow: 2px 2px; */
}

.list {
    padding: 20px;
    font-style: normal;
}